@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
* {
    font-family: 'Inter', sans-serif;
}
.badge {
    position: relative;
    height: 420px;
    width: 500px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    -webkit-box-shadow: 5px 2px 18px 3px rgba(0,0,0,0.26); 
    box-shadow: 5px 2px 18px 3px rgba(0,0,0,0.26);
}

.badge__header {
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}

.badge__content--name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}

.badge__content--name h1 {
    font-family: 'Rubik', sans-serif;
    margin-left: 10px;
    color: #6eb329;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.badge__content--name img {
    height: 200px;
    clip-path: circle(90px at center);
}

.badge__content--info {
    margin: 10px 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge__content--info__title h4 {
    font-weight: 400;
    margin: 10px 0;
    padding: 0;
}

.badge__content--info__twitter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.badge__content--info__twitter img{
    height: 20px;
    margin-right: 5px;
}

.badge__content--info__twitter .flag {
    clip-path: circle(10px at center);
}

.badge__content--info__twitter a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.badge__content--info__twitter a:hover {
    text-decoration: underline;
}

.badge__footer {
    position: absolute;
    bottom: 30px;
    height: 20px;
    width: 100%;
}

.badge__footer p {
    text-align: center;
    font-weight: 600;
    color: #6eb329;
}